// Checkbox styling inspired : https://paulund.co.uk/style-checkboxes-with-css

$tower_color: #665F56;
$board_color: #e6eaf2;
$main-font: Arial, Helvetica, sans-serif;
$main-font-weight: 400;

.whiteOnBlack {
  background-color: #100E0E;
  color: #fff;
}

.inputStyle {
  @extend .whiteOnBlack;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.body {
  width: 100vh;
  height: 100vh;
}

.solverContainer {
  font-family: $main-font;
  width: 1000px;
  height: 700px;
  background-color: $board_color;

  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.board {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);

  .score {
    font-size: 20px;
    font-weight: $main-font-weight;
    text-align: right;
    position: absolute;
    top: 5%;
    right: 5%;

    .scoreItem {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .base {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    background-color: $tower_color;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.2);
  }

  .stick {
    position: absolute;
    height: 65%;
    width: 3%;
    bottom: 10%;
    border-radius: 10px;
    background-color: $tower_color;
  }
  #stickOne {
    left: 20%;
  }
  #stickTwo {
    left: 48.5%;
  }
  #stickThree {
    left: 77%;
  }
}

.transition {
  transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out;
}

.block {
  position: absolute;
  background-color: #0877f7;
  border-radius: 30% 20%;
  box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.3); 
}

.controls {
  font-size: 25px;
  font-family: $main-font;
  font-weight: $main-font-weight;
  
  width: 1000px;
  height: 80px;
  background-color: $board_color;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);

  position: absolute;
  top: 30px;
  left: 0;
  right: 0;

  margin: auto;

  padding: 20px;

  text-align: center;

  .form-group {
    display: inline-block;
    margin: 0 20px;

    .textInput {
      padding: 2.5px;
      width: 45px;
      text-align: center;
      @extend .inputStyle;
    }

    .btn {
      font-size: 20px;
      margin-right: 10px; 
      @extend .inputStyle;
    }

    input[type=checkbox] {
      visibility: hidden;
    }

    .boxes {
      width: 120px;
      height: 40px;
      background: #333;
    
      border-radius: 50px;
      position: relative;
    }

    /**
    * Create the text for the On position
    */
    .boxes:before {
      content: 'On';
      position: absolute;
      top: 12px;
      left: 13px;
      height: 2px;
      color: #26ca28;
      font-size: 16px;
    }

    /**
    * Create the label for the off position
    */
    .boxes:after {
      content: 'Off';
      position: absolute;
      top: 12px;
      left: 84px;
      height: 2px;
      color: #111;
      font-size: 16px;
    }

    /**
    * Create the pill to click
    */
    .boxes label {
      display: block;
      width: 52px;
      height: 22px;
      border-radius: 50px;

      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: 9px;
      z-index: 1;
      left: 12px;
      background: #ddd;
    }

    /**
    * Create the checkbox event for the label
    */
    .boxes input[type=checkbox]:checked + label {
      left: 60px;
      background: #26ca28;
    }

    #transitions {
      @extend .whiteOnBlack;

      height: 30px;
      width: 30px;
      vertical-align: bottom;
    }
  }
}

