.body {
  width: 100vh;
  height: 100vh;
}

.solverContainer {
  width: 1000px;
  height: 700px;
  background-color: #ECC48F;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}