// Checkbox styling inspired : https://paulund.co.uk/style-checkboxes-with-css

$bg-black: #222121;
$bg-grey: #665F56;

$bg-btn: #9E9E9E;
$bg-btn-disabled:#868181;
$bg-btn-hover: #757575;
$bg-btn-shadow: #323232;

$board_color: #e6eaf2;
$white: #fff;
$font-disabled: #ccc;
$main-font: Arial, Helvetica, sans-serif;
$main-font-weight: 400;
$text-input-focus: #EEE051;

$bg-submit-success: #8EF6BB;
$bg-submit-success-outer: #d9f9e7;
$text-submit-success: #0A321C;

$bg-submit-error: #F68E8E;
$bg-submit-error-outer: #f7bebe;
$text-submit-error: #320A0A;

$bg-submit-warning: #f6c08d;
$bg-submit-warning-outer: #ffe3c9;
$text-submit-warning: #322C0A;


.whiteOnBlack {
  background-color: $white;
  color: $bg-black;
}

.inputStyle {
  @extend .whiteOnBlack;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.solverContainer {

  font-family: $main-font;
  min-width: 500px;
  max-width: 1000px;
  min-height: 400px;
  background-color: $board_color;

  position: absolute;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;

  margin: auto;
}

.board {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);

  .score {
    font-size: 20px;
    font-weight: $main-font-weight;
    text-align: right;
    position: absolute;
    top: 5%;
    right: 5%;

    .scoreItem {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .base {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    background-color: $bg-grey;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.3);
  }

  .stick {
    position: absolute;
    height: 65%;
    width: 3%;
    bottom: 10%;
    border-radius: 10px;
    background-color: $bg-grey;

    color: $white;
    padding: 1%;
  }
  #stickOne {
    left: 20%;
  }
  #stickTwo {
    left: 48.5%;
  }
  #stickThree {
    left: 77%;
  }
}

.transition {
  transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out;
}

.block {
  position: absolute;
  background-color: #0877f7;
  border-radius: 30% 20%;
  box-shadow: 0px 2px 6px 4px rgba(0,0,0,0.3); 
}

.controls {
  font-size: 25px;
  font-family: $main-font;
  font-weight: $main-font-weight;
  color: #fff;
  width: 1000px;
  height: 120px;
  background-color: $bg-grey;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);

  position: absolute;
  top: 30px;
  left: 0;
  right: 0;

  margin: auto;

  padding: 20px;

  text-align: center;

  .form-group {
    display: inline-block;
    margin: 0 20px;

    .checkboxLabel {
      display: inline-block;
      margin: 5px 0;
    }

    .textInput {
      padding: 2.5px;
      margin-left: 10px;
      width: 45px;
      text-align: center;
      @extend .inputStyle;

      box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.2);
    
      &:focus {
        box-shadow: 0 0 4px 2px $text-input-focus;
        border: 2px solid $text-input-focus;
      }
    }

    .btn {
      font-size: 20px;
      margin-right: 10px;
    }

    .inputs label {
      color: $board_color;
    }

    .checkboxText {
      display: inline-block;
      margin: none;
      color: $board_color;
    }
    input[type=checkbox] {
      visibility: hidden;
    }

    .boxes {
      width: 100px;
      height: 35px;
      background: $board_color;
      left: 12px;
      border-radius: 5px;
      position: relative;
    }

    /**
    * Create the text for the On position
    */
    .boxes:before {
      content: 'On';
      position: absolute;
      top: 10px;
      left: 13px;
      height: 3px;
      color: #26ca28;
      font-size: 16px;
    }

    /**
    * Create the label for the off position
    */
    .boxes:after {
      content: 'Off';
      position: absolute;
      top: 10px;
      left: 64px;
      height: 3px;
      color: #111;
      font-size: 16px;
    }

    /**
    * Create the pill to click
    */
    .boxes label {
      display: block;
      width: 42px;
      height: 22px;
      border-radius: 5px;

      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: 6px;
      z-index: 1;
      left: 12px;
      background: $bg-grey;
    }

    /**
    * Create the checkbox event for the label
    */
    .boxes input[type=checkbox]:checked + label {
      left: 45px;
      background: #26ca28;
    }

  }
}

.clicky {
  position: relative;
  overflow: hidden;
  top: 0;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 5px 10px;
  min-width: 100px;
  @extend .whiteOnBlack;

  /** 3D Block Effect **/
  box-shadow: 0 6px 0 0 $bg-btn-shadow;
  
  /** Make it look pretty **/
  display: inline-block;
  border: 0;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;

  &:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 0;
  }
    
  &:hover {
    opacity: 1;
  }
    
  .clicky:active,
  .clicky:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
  }

  &:disabled {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 0;

    background: $bg-btn-disabled;
    color: $font-disabled;
  }
}

#solverToast {
  position: absolute;
  width: 80%;
  left: 10%;
  border-radius: 5px;

  z-index: 2;

  text-align: center;
  
  top: -30%;
  opacity: 0;

  transition: top 0.5s ease-in-out, opacity 0.5s linear;

  p {
    margin: 10px;
  }

  &.active {
    
    
    transition: top 0.5s ease-in-out, opacity 0.5s linear;
    
    top: 5%;
    opacity: 1;

    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  }

  &.success {
    color: $text-submit-success;
    background-color: $bg-submit-success;
  }

  &.error {
    color: $text-submit-error;
    background-color: $bg-submit-error;
  }

  &.warning {
    color: $text-submit-warning;
    background-color: $bg-submit-warning;
  }
}

